---
http_interactions:
- request:
    method: get
    uri: http://api.punchfork.com/publishers?key=this-is-your-punchfork-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"publishers\": [\n    {\n      \"name\": \"The Pioneer Woman\",
        \n      \"twitter\": \"thepioneerwoman\", \n      \"site\": \"www.thepioneerwoman.com\",
        \n      \"num_recipes\": 445, \n      \"avatar\": \"http://si0.twimg.com/profile_images/1277545293/pw_bigger_bigger_reasonably_small.jpg\",
        \n      \"avg_rating\": 75.20973077868163\n    }, \n    {\n      \"name\":
        \"Smitten Kitchen\", \n      \"twitter\": \"smittenkitchen\", \n      \"site\":
        \"smittenkitchen.com\", \n      \"num_recipes\": 662, \n      \"avatar\":
        \"http://si0.twimg.com/profile_images/63105938/smittenkitchenlogoclean.jpg\",
        \n      \"avg_rating\": 72.367625246596\n    }, \n    {\n      \"name\": \"My
        Baking Addiction\", \n      \"twitter\": \"bakingaddiction\", \n      \"site\":
        \"www.myba[...]
