{"http_interactions":[{"request":{"method":"get","uri":"https://api.punchfork.com/publishers?key=this-is-your-api-key","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"ASCII-8BIT","string":"{\n  \"publishers\": [\n    {\n      \"name\": \"The Pioneer Woman\", \n      \"twitter\": \"thepioneerwoman\", \n      \"site\": \"www.thepioneerwoman.com\", \n      \"num_recipes\": 463, \n      \"avatar\": \"http://si0.twimg.com/profile_images/1277545293/pw_bigger_bigger_reasonably_small.jpg\", \n      \"avg_rating\": 77.54868706652155\n    }, \n    {\n      \"name\": \"Smitten Kitchen\", \n      \"twitter\": \"smittenkitchen\", \n      \"site\": \"smittenkitchen.com\", \n      \"num_recipes\": 673, \n      \"avatar\": \"http://si0.twimg.com/profile_images/63105938/smittenkitchenlogoclean.jpg\", \n      \"avg_rating\": 74.50236297373469\n    }, \n    {\n      \"name\": \"My Baking Addiction\", \n      \"twitter\": \"bakingaddiction\", \n      \"site\": \"www.mybakingaddiction.com\", \n      \"num_recipes\": [...]
