{"http_interactions":[{"request":{"method":"get","uri":"https://api.punchfork.com/random_recipe?key=this-is-your-api-key","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"ASCII-8BIT","string":"{\n  \"recipe\": {\n    \"rating\": 3.7474, \n    \"source_name\": \"Leite's Culinaria\", \n    \"source_img\": \"http://leitesculinari.wpengine.netdna-cdn.com/wordpress/wp-content/uploads/delmonico_steak.jpg\", \n    \"source_url\": \"http://leitesculinaria.com/5889/recipes-delmonico-steak.html\", \n    \"fbc\": 0, \n    \"twc\": 0, \n    \"suc\": 0, \n    \"thumb\": \"http://img.punchfork.net/edcbfaaaa56055d9843e1eb89a786a3d_250x250.jpg\", \n    \"title\": \"Delmonico Steak\", \n    \"pf_url\": \"http://punchfork.com/recipe/Delmonico-Steak-Leites-Culinaria\", \n    \"published\": \"2008-05-05T23:01:28\", \n    \"shortcode\": \"yFoHpt\"\n  }\n}"},"http_version":"1.1"},"recorded_at":"Tue, 08 May 2012 00:59:16 GMT"}],"recorded_with":"VCR 2.1.1"}