---
http_interactions:
- request:
    method: get
    uri: http://api.punchfork.com/recipes?key=this-is-your-punchfork-api-key&q=meatballs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"count\": 10, \n  \"recipes\": [\n    {\n      \"rating\":
        94.7378, \n      \"source_name\": \"Smitten Kitchen\", \n      \"source_img\":
        \"http://farm6.static.flickr.com/5299/5414330325_356609617a.jpg\", \n      \"source_url\":
        \"http://smittenkitchen.com/2011/02/meatball-sub-with-caramelized-onions/\",
        \n      \"fbc\": 1156, \n      \"twc\": 372, \n      \"suc\": 524, \n      \"thumb\":
        \"http://img.punchfork.net/a0d065fa1795104140268e95baed8007_250x250.jpg\",
        \n      \"title\": \"Meatball Subs With Caramelized Onions\", \n      \"pf_url\":
        \"http://punchfork.com/recipe/Meatball-Subs-With-Caramelized-Onions-Smitten-Kitchen\",
        \n      \"published\": \"2011-02-04T13:00:00\", \n      \"shortcode\": \"uUWu54\"\n
        \   }, \n    {\n      \"rating\": 92.5999, \n      \"source_name\": \"The
        Pioneer Woman\", \n      \"source_img\": \"http://farm5.static.flickr.com/4080/4791319511_1cd635bb9b_b.jpg\",
        \n      \"source_url\": \"http://thepioneerwoman.com/cooking/2010/07/16-minute-meal-3-mini-meatball-sandwiches/\",
        \n      \"fbc\": 1916, \n      \"twc\": 57, \n      \"suc\": 2908, \n      \"thumb\":
        \"http://img.punchfork.net/15fde1a78fb0ae228639775e44296399_2[...]
