{"http_interactions":[{"request":{"method":"post","uri":"https://api.punchfork.com/search_index","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"ASCII-8BIT","string":"{\"terms\": [ \"bird\", \"bread crumb\", \"cheese\", \"chicken breast\", \"chicken\", \"condiment\", \"dairy\", \"egg\", \"meat\", \"mozzarella\", \"parmesan\", \"parmigiana\", \"poultry\", \"sauce\", \"spaghetti sauce\"]}"},"http_version":"1.1"},"recorded_at":"Tue, 08 May 2012 01:10:26 GMT"}],"recorded_with":"VCR 2.1.1"}